<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.veats">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Veats"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".PastOrders"></activity>
        <activity android:name=".LiveOrdersFragment" />
        <activity android:name=".UserSettingsFragment" />
        <activity
            android:name=".ui.login.loginPage"
            android:label="Order" />
        <activity android:name=".MainPageActivity" />
        <activity
            android:name=".navBar"
            android:label="@string/title_activity_nav_bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CartActivity"
            android:label="Cart" />
        <activity android:name=".ItemQuantityActivity" />
        <activity
            android:name=".MenuFragment"
            android:label="Order Now"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>